.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    position: relative;
    background-image: url("https://papers.co/wallpaper/papers.co-sh15-gray-dark-bw-black-gradation-blur-25-wallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .container::after {
    content: "";
    background-image: url("https://th.bing.com/th/id/OIP.esZQgW-OGOwhkevE3eWi_wHaEo?pid=ImgDet&rs=1");
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.0; /* Ajuste a opacidade conforme necessário */
    z-index: -1; /* Coloca o elemento abaixo do conteúdo */
  }
  
  @media (max-width: 768px) {
    .container {
      background-attachment: fixed; /* Alterado para fixed */
      background-size: 100% 100%; /* Adicionado */
    }
  }
  
  .top-image {
    width: 200px;
    height: 200px;
    border-radius: 70%;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.9);
    overflow: hidden;
    margin-bottom: 40px;
    margin-top: -150px;
    border: 4px solid white;
  }
  
  .top-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    margin-top: 50px;
  }
  
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 16px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    margin: 15px;
  }
  
  .button:hover {
    background-color: #e0e0e0;
  }
  
  .reception-button,
  .waiting-list-button,
  .barber-button {
    font-size: 20px;
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .welcome-container {
      width: 100%;
      margin-left: -20px;
      margin-right: -20px;
      border-radius: 0;
      padding: 10px;
    }
  
    .welcome-message {
      font-size: 18px;
    }
  }